.cuadros{
	margin:0px;
	.cuadro{
		@include cuadro();
		.blogc{
			margin-top:47px;
			font-size: 10px;
			@include blog();
		}
	}
	.cuadro1{
		@include cuadro();
		.blogc{
			@include blog();
		}
	}
}