/*contactenos*/
.min{
	font-size:13px;
}
.form-horizontal, .destin{
	margin-top:$marg;
}
.checkbox{
	font-size:15px;
}
.bgb{
	background-color:$grisclaro;
}
.boton{
	left: 300px;
	width: 150px;
	background-color:$black;
	color:$white;
}