header{
	background-color:$grey-claro;
	padding:10px 0px;
}
.barner{
	margin-bottom:10px;
}
.republica{
	margin-top:30px;
}
ul{
	padding:0;
	li{
		display: inline-block;
		font-size: 10px;
		margin-left: 2px;
		margin-right: 2px;
		.fa{
			font-size: 17px;
			margin-left: 2px;
			margin-right: 2px;
			&:hover{
				font-size: 25px;
			}
		}
		#facebook{
			color:$azul;
		}
		#twitter{
			color:$celeste;
		}
		#google{
			color:$rojo;
		}
		#carta{
			color:$amarrillo;
		}
		#rss{
			color:$naranja;
		}
		.gris{
			color:#394256;
		}
	    a{
	    	color:$gris;
	    	text-decoration: none;
	    	&:hover{
	    		text-decoration: none;
	    	}
	    }
	    .botons{
	    	@include enlace($rojo,7px,white);
	    	border-radius: 5px;
	    }
	    input{
	    	border:0px;
	    	text-align: center;
	    }
	}
}
.rojo{
	@include enlace($rojo,0px,white);
	border-radius:5px;
	margin-top:20px;
	text-align:center;
	span{
		color:#8D161C;
		font-size: 10px;
	}
	li{
		padding:5px;
		a{
			color:white;
			font-size: 10px;
		}
	}
}
.plomo{
	@include enlace($grey-claro,0px,#424045);
	text-align:center;
	a{
		font-size: 12px;
	}
	.negro{
		@include enlace(black,5px,white);
		text-align:center;
		height: auto;
	}
}
footer{
	background-color:$grey-claro;
	padding:20px 0px;
	span{
		color:#888C8C;
	}
	p{
		font-size: 10px;
		color:#888C8C;
	}
	ul{
		text-align:center;
		li{
			color:#888C8C;
			font-size: 12px;
		}
	}
}

img{
	width:100%;
}