/*home*/
/*titular*/
h1{
	font-size:3em;
}
.subtitulo{
	a{
		text-decoration: none;
		margin-left: 20px;
		color: $gray;
	}
	ul{
		display: inline-block;
	}
	li{
		display: inline-block;
		margin-right: 5px;
		line-height: 1;
	}
}
.redes{
	width: 30px;
}
.susbe{
	width:100px;
	height:100px;
}
.susbe1{
	width:130px;
	height:50px;
}
/*reportajes*/
#reportajes{
	margin-top:$marg;
}
/*principal*/ 
.img-principal{
	position: relative;		
	width: 100%;
}
.principal{
	a{
		text-decoration: none;
		color: $white;
	}
	h4, h3{
		position: relative;
		width: 90%;
		bottom: 120px;
		left: 20px;
		text-shadow: 1px 2px $black;
	}
}
/*portada2*/
.portada2{
	margin-top: -80px;
}
/*columnistas*/
.gc{
	background-color:$grisclaro;
	padding-bottom:$marg;
}
#columnistas{
	margin-top: -50px;
	color: $black;
	img{
		width: 100px;
		height: 110px;
		padding: 6px;
		background-color:$white;
	}
}
.right{
	margin-left: 120px;
}
/*seccion otras noticias*/
#otrasnoticias{
	a{text-decoration: none;
		color: $white;}
}
.espacio{
	margin-right: 20px;
}
.espacio2{
	margin-top: 20px;
}
.cuadro{
	padding: 5px 0px;
	border: 1px solid $grisclaro;
	height: 330px;
	.sub{
		position: relative;
		width: 90%;
		bottom: 90;
		left: 10px;
		top:-100px;
		text-shadow: 1px 2px $black;
	}
}
.red{
		color:$red;
}

/*imagenes noticias*/
.img4{
	position: relative;		
	width: 100%;
	height:200px;
}
.sub1,.sub2, .sub3, .sub4{
	position: relative;
	color:$black;
}
.sub1,{
	bottom: 50px;
}
.sub2,{
	bottom: 40px;
}
.sub3{
	bottom: 70px;
}
.sub4{
	bottom: 80px;
}
/*imagen peluqueria*/
.img5{
	height:660px;
}

/*seccion ultimas noticias*/
/*ultimasnoticias*/
h5{
	color:$grismedio;
}
.articulo{
	border-bottom: 1px solid $grismedio;
	margin-bottom: 40px;
	p{
		font-size: 12px;
	}
	h4{
		font-weight:bold;
	}
	.texto{
		font-size: 14px;
	}
}
/*redes sociales */
.subtitulo2{
	margin-top:20px;
	margin-left:-40px;
	a{
		text-decoration: none;
		color: $gray;
	}
	ul{
		display: inline-block;
	}
	li{
		display: inline-block;
		margin-right: 8px;
		line-height: 1;
	}
	.fa{
		color: $red;
		font-size:20px;
	}
}
.img6{
	width: 200px;
	height:140px;
}
/*inicio columna2 */
/*suscribete */
.suscribete{
	background-color:$grisclaro;
	padding:10px;
	margin-top:$marg;
	margin-bottom:$marg;
}
/*aweita */
.aweita{
	border: 1px solid $black;
	padding:10px;
	padding-left:30px;
	p{
		font-weight:bold;
		font-size: 12px;
	}
	span{
		color:purple;
	}
}
/*fotos destacadas */
.destacadas{
	margin-top:$marg;
	margin-bottom:$marg;
	p{
		font-weight:bold;
		font-size: 12px;
	}
}
.img77{
	border:2px solid $gray;
	width: 100%;
	height: 160px;
}
.img7{
	border:2px solid $gray;
	width:  100%;
}
.lin{
	border-bottom: 1px solid $grisclaro;
}
/*especiales */
.especiales{
	margin-bottom:$marg;
}
.imag8 {
	width: 100%;
}
.subtitulo3{
	margin-bottom:$marg;
	p{
	padding: 5px;
	background-color:whitesmoke;
	width: 70%;
	margin-left:50px;
	}
}
/*nuestros blogueros*/
.blog{
	a {text-decoration: none;
		color: $black;
	}
}
/*edicion impresa*/
.edicion{
	margin-bottom:$marg;
}
/*infografias*/
.infografias{
	margin-bottom:$marg;
	p{
	padding: 5px;
	background-color:whitesmoke;
	width: 70%;
	margin-left:50px;
	}
}
/*pregunta del dia*/
.white{
	padding:10px;
	background-color:$grisclaro;
	border: 3px dotted $gray;
}
/*wapa*/
.img10{
	height: 150px;
	
}
.articulo{
	img{
		&:hover{
			margin-top:-10px;
		}
	}
	i{
		color:$red;
	}
}
