@mixin enlace($bckg,$pdg,$clr){
	background-color:$bckg;
	padding:$pdg;
	color:$clr;
}
@mixin cuadro{
	border:1px solid #888C8C;
	text-align:center;
	padding:10px;
	margin-bottom:10px;
	height:200px;
}