
$gris:grey;
$grey-claro:#CED2D2;
$rojo:#D24042;
$azul:#1345A9;
$celeste:#2AA9D2;
$amarrillo:#D2AA0A;
$naranja:#D26C0A;

$gray:#585858;
$white:#FFFFFF;
$black:#000000;
$grisclaro:#E6E6E6;
$red:#FF0000;
$grismedio:#A4A4A4;
$marg:30px;

