header {
  padding: 10px 0px; }
  header .gc {
    padding: 5px; }

.barner {
  margin-bottom: 10px; }

.republica {
  margin-top: 30px; }

ul {
  padding: 0; }
  ul li {
    display: inline-block;
    font-size: 10px;
    margin-left: 2px;
    margin-right: 2px; }
    ul li .fa {
      font-size: 17px;
      margin-left: 2px;
      margin-right: 2px; }
      ul li .fa:hover {
        font-size: 25px; }
    ul li #facebook {
      color: #1345A9; }
    ul li #twitter {
      color: #2AA9D2; }
    ul li #google {
      color: #D24042; }
    ul li #carta {
      color: #D2AA0A; }
    ul li #rss {
      color: #D26C0A; }
    ul li .gris {
      color: #394256; }
    ul li a {
      color: grey;
      text-decoration: none; }
      ul li a:hover {
        text-decoration: none; }
    ul li .botons {
      background-color: #D24042;
      padding: 7px;
      color: white;
      border-radius: 5px; }
    ul li input {
      border: 0px;
      text-align: center; }

.rojo {
  background-color: #D24042;
  padding: 0px;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center; }
  .rojo span {
    color: #8D161C;
    font-size: 10px; }
  .rojo li {
    padding: 5px; }
    .rojo li a {
      color: white;
      font-size: 10px; }

.plomo {
  background-color: #CED2D2;
  padding: 0px;
  color: #424045;
  text-align: center; }
  .plomo a {
    font-size: 12px; }
  .plomo .negro {
    background-color: black;
    padding: 5px;
    color: white;
    text-align: center;
    height: auto; }

footer {
  padding: 20px 0px; }
  footer span {
    color: #888C8C; }
  footer p {
    font-size: 13px;
    color: #888C8C; }
  footer ul {
    text-align: center; }
    footer ul li {
      color: #888C8C;
      font-size: 12px; }
  footer .gc {
    padding: 10px; }

img {
  width: 100%; }

/*home*/
/*titular*/
h1 {
  font-size: 3em; }

.subtitulo a {
  text-decoration: none;
  margin-left: 20px;
  color: #585858; }
.subtitulo ul {
  display: inline-block; }
.subtitulo li {
  display: inline-block;
  margin-right: 5px;
  line-height: 1; }

.redes {
  width: 30px; }

.susbe {
  width: 100px;
  height: 100px; }

.susbe1 {
  width: 130px;
  height: 50px; }

/*reportajes*/
#reportajes {
  margin-top: 30px; }

/*principal*/
.img-principal {
  position: relative;
  width: 100%; }

.principal a {
  text-decoration: none;
  color: #FFFFFF; }
.principal h2, .principal h3 {
  position: relative;
  width: 90%;
  bottom: 130;
  left: 20px;
  text-shadow: 1px 2px #000000; }

/*portada2*/
.portada2 {
  margin-top: -100px; }

/*columnistas*/
.gc {
  background-color: #E6E6E6;
  padding-bottom: 30px; }

#columnistas {
  margin-top: -50px;
  color: #000000; }
  #columnistas img {
    width: 100px;
    height: 110px;
    padding: 6px;
    background-color: #FFFFFF; }

.right {
  margin-left: 120px; }

/*seccion otras noticias*/
#otrasnoticias a {
  text-decoration: none;
  color: #FFFFFF; }

.espacio {
  margin-right: 20px; }

.espacio2 {
  margin-top: 20px; }

.cuadro {
  padding: 5px 0px;
  border: 1px solid #E6E6E6;
  height: 330px; }
  .cuadro .sub {
    position: relative;
    width: 90%;
    bottom: 90;
    left: 10px;
    text-shadow: 1px 2px #000000; }

.red {
  color: #FF0000; }

/*imagenes noticias*/
.img4 {
  position: relative;
  width: 100%;
  height: 200px; }

.sub1, .sub2, .sub3, .sub4 {
  position: relative;
  color: #000000; }

.sub1 {
  bottom: 50px; }

.sub2 {
  bottom: 40px; }

.sub3 {
  bottom: 70px; }

.sub4 {
  bottom: 80px; }

/*imagen peluqueria*/
.img5 {
  height: 660px; }

/*seccion ultimas noticias*/
/*ultimasnoticias*/
h5 {
  color: #A4A4A4; }

.articulo {
  border-bottom: 1px solid #A4A4A4;
  margin-bottom: 40px; }
  .articulo p {
    font-size: 12px; }
  .articulo h4 {
    font-weight: bold; }
  .articulo .texto {
    font-size: 14px; }

/*redes sociales */
.subtitulo2 {
  margin-top: 20px;
  margin-left: -40px; }
  .subtitulo2 a {
    text-decoration: none;
    color: #585858; }
  .subtitulo2 ul {
    display: inline-block; }
  .subtitulo2 li {
    display: inline-block;
    margin-right: 8px;
    line-height: 1; }
  .subtitulo2 .fa {
    color: #FF0000;
    font-size: 20px; }

.img6 {
  width: 200px;
  height: 140px; }

/*inicio columna2 */
/*suscribete */
.suscribete {
  background-color: #E6E6E6;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px; }

/*aweita */
.aweita {
  border: 1px solid #000000;
  padding: 10px;
  padding-left: 30px; }
  .aweita p {
    font-weight: bold;
    font-size: 12px; }
  .aweita span {
    color: purple; }

/*fotos destacadas */
.destacadas {
  margin-top: 30px;
  margin-bottom: 30px; }
  .destacadas p {
    font-weight: bold;
    font-size: 12px; }

.img77 {
  border: 2px solid #585858;
  width: 100%;
  height: 160px; }

.img7 {
  border: 2px solid #585858;
  width: 100%; }

.lin {
  border-bottom: 1px solid #E6E6E6; }

/*especiales */
.especiales {
  margin-bottom: 30px; }

.imag8 {
  width: 100%; }

.subtitulo3 {
  margin-bottom: 30px; }
  .subtitulo3 p {
    padding: 5px;
    background-color: whitesmoke;
    width: 70%;
    margin-left: 50px; }

/*nuestros blogueros*/
.blog a {
  text-decoration: none;
  color: #000000; }

/*edicion impresa*/
.edicion {
  margin-bottom: 30px; }

/*infografias*/
.infografias {
  margin-bottom: 30px; }
  .infografias p {
    padding: 5px;
    background-color: whitesmoke;
    width: 70%;
    margin-left: 50px; }

/*pregunta del dia*/
.white {
  padding: 10px;
  background-color: #E6E6E6;
  border: 3px dotted #585858; }

/*wapa*/
.img10 {
  height: 150px; }

.articulo img:hover {
  margin-top: -10px; }
.articulo i {
  color: #FF0000; }

.cuadros {
  margin-left: 30px; }
  .cuadros .cuadro {
    border: 1px solid #888C8C;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    height: 230px; }
    .cuadros .cuadro .blogc {
      font-size: 10px;
      margin-top: 47px;
      background-color: #CED2D2;
      padding: 10px;
      text-align: left;
      font-size: 10px; }
      .cuadros .cuadro .blogc img {
        padding: 5px;
        height: 60px;
        background-color: white; }
  .cuadros .cuadro1 {
    border: 1px solid #888C8C;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    height: 230px; }
    .cuadros .cuadro1 .blogc {
      background-color: #CED2D2;
      padding: 10px;
      text-align: left;
      font-size: 10px;
      height: 79px;
      margin-top: -3px; }
      .cuadros .cuadro1 .blogc img {
        padding: 5px;
        height: 60px;
        background-color: white; }
  .cuadros .cuadro2 {
    border: 1px solid #888C8C;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    height: 230px; }
    .cuadros .cuadro2 .blogc {
      font-size: 10px;
      margin-top: 32px;
      background-color: #CED2D2;
      padding: 10px;
      text-align: left;
      font-size: 10px; }
      .cuadros .cuadro2 .blogc img {
        padding: 5px;
        height: 60px;
        background-color: white; }

.boton {
  background-color: #D24042;
  text-align: center;
  height: auto;
  padding: 5px;
  width: 80%;
  margin: 0 auto; }
  .boton a {
    text-decoration: none;
    color: white; }
  .boton:hover {
    background-color: #888C8C;
    color: black;
    margin-top: 10px; }

.rojo1 {
  background-color: #D24042;
  padding: 7px;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  height: 45px;
  margin-bottom: 20px; }
  .rojo1 .rojoo {
    background-color: #5A0A07;
    padding: 5px;
    border-radius: 10px; }
  .rojo1 li {
    padding: 5px;
    margin-left: 12px;
    margin-right: 12px; }
    .rojo1 li a {
      color: white;
      font-size: 15px; }
    .rojo1 li:hover {
      background-color: #FF1914;
      border-radius: 10px;
      padding: 5px; }

.plomo1 {
  margin-bottom: 10px;
  font-size: 8px;
  height: 90px;
  background-color: #CED2D2;
  padding: 10px;
  text-align: left;
  font-size: 10px; }
  .plomo1 p {
    font-size: 11px;
    color: #515559; }
  .plomo1 h5 {
    font-size: 10px; }
  .plomo1 img {
    padding: 5px;
    height: 60px;
    background-color: white; }
  .plomo1:hover {
    background-color: #F2FAF1;
    border: 1px solid #D0CED6; }

/*contactenos*/
.min {
  font-size: 13px; }

.form-horizontal, .destin {
  margin-top: 30px; }

.checkbox {
  font-size: 15px; }

.bgb {
  background-color: #E6E6E6; }

.boton {
  left: 400px;
  width: 150px;
  background-color: #000000;
  color: #FFFFFF; }

/*# sourceMappingURL=main.css.map */
