header {
  background-color: #CED2D2;
  padding: 10px 0px; }

.barner {
  margin-bottom: 10px; }

.republica {
  margin-top: 30px; }

ul {
  padding: 0; }
  ul li {
    display: inline-block;
    font-size: 10px;
    margin-left: 2px;
    margin-right: 2px; }
    ul li .fa {
      font-size: 17px;
      margin-left: 2px;
      margin-right: 2px; }
      ul li .fa:hover {
        font-size: 25px; }
    ul li #facebook {
      color: #1345A9; }
    ul li #twitter {
      color: #2AA9D2; }
    ul li #google {
      color: #D24042; }
    ul li #carta {
      color: #D2AA0A; }
    ul li #rss {
      color: #D26C0A; }
    ul li .gris {
      color: #394256; }
    ul li a {
      color: grey;
      text-decoration: none; }
      ul li a:hover {
        text-decoration: none; }
    ul li .botons {
      background-color: #D24042;
      padding: 7px;
      color: white;
      border-radius: 5px; }
    ul li input {
      border: 0px;
      text-align: center; }

.rojo {
  background-color: #D24042;
  padding: 0px;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center; }
  .rojo span {
    color: #8D161C;
    font-size: 10px; }
  .rojo li {
    padding: 5px; }
    .rojo li a {
      color: white;
      font-size: 10px; }

.plomo {
  background-color: #CED2D2;
  padding: 0px;
  color: #424045;
  text-align: center; }
  .plomo a {
    font-size: 12px; }
  .plomo .negro {
    background-color: black;
    padding: 5px;
    color: white;
    text-align: center;
    height: auto; }

footer {
  background-color: #CED2D2;
  padding: 20px 0px; }
  footer span {
    color: #888C8C; }
  footer p {
    font-size: 10px;
    color: #888C8C; }
  footer ul {
    text-align: center; }
    footer ul li {
      color: #888C8C;
      font-size: 12px; }

img {
  width: 100%; }

.cuadros {
  margin: 0px; }
  .cuadros .cuadro {
    border: 1px solid #888C8C;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    height: 200px; }
    .cuadros .cuadro .blogc {
      margin-top: 47px;
      font-size: 10px;
      background-color: #CED2D2;
      padding: 10px;
      text-align: left;
      font-size: 10px; }
      .cuadros .cuadro .blogc img {
        padding: 5px;
        height: 60px;
        background-color: white; }
  .cuadros .cuadro1 {
    border: 1px solid #888C8C;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    height: 200px; }
    .cuadros .cuadro1 .blogc {
      background-color: #CED2D2;
      padding: 10px;
      text-align: left;
      font-size: 10px; }
      .cuadros .cuadro1 .blogc img {
        padding: 5px;
        height: 60px;
        background-color: white; }

.boton {
  background-color: #D24042;
  text-align: center;
  height: auto;
  padding: 5px;
  width: 80%;
  margin: 0 auto; }
  .boton a {
    text-decoration: none;
    color: white; }
  .boton:hover {
    background-color: #888C8C;
    color: black;
    margin-top: 10px; }

.rojo1 {
  background-color: #D24042;
  padding: 7px;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  height: 45px;
  margin-bottom: 20px; }
  .rojo1 .rojoo {
    background-color: #5A0A07;
    padding: 5px;
    border-radius: 10px; }
  .rojo1 li {
    padding: 5px;
    margin-left: 12px;
    margin-right: 12px; }
    .rojo1 li a {
      color: white;
      font-size: 15px; }
    .rojo1 li:hover {
      background-color: #FF1914;
      border-radius: 10px;
      padding: 5px; }

/*# sourceMappingURL=main.css.map */
